:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  color: var(--family-color);
}

.webstudio1 {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: var(--secondary-font);
  font-weight: 700px;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.studio-black {
  color: black;
}
.studio-white {
  color: white;
}

.agencja {
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: black;
}

.agencja:hover{
  color: #2196F3;
}

.portfolio {
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: black;
}

.portfolio:hover{
  color: #2196F3;
}

.kontakt {
  width: 58px;
  height: 16px;
  left: 656px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: black;
}

.kontakt:hover{
  color: #2196F3;
}

.efektywne-rozwiazania-background{
  width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}

.efektywne-rozwiazania{
  position: relative;
  width: 696px;
height: 120px;
left: 452px;
top: 200px;

font-family: var(--main-font);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.button-zamow-usluge{
  position: relative;
width: 200px;
height: 50px;
left: 700px;
top: 220px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

align-items: center;
text-align: center;
letter-spacing: 0.06em;
  cursor: pointer;

color: #FFFFFF;

}

.button-zamow-usluge:hover{
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.thead{
  font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.tbody{
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.nasz-zespol{
  background: #F5F4FA;
}

.lista{
  list-style-type: none;
}

.nazwisko{
  font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.stanowisko{
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.email1 {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: #757575;
}

.email1:hover{
  color: #2196F3;
}

.tel1 {
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: #757575;
}

.tel1:hover{
  color: #2196F3;
}

.button-wszystkie {
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;

  background: #f5f4fa;
  /* shadow-middle */

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-wszystkie:hover {
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.button-strony {
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-strony:hover {
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.button-aplikacje {
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-aplikacje:hover {
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.button-dizajn {
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-dizajn:hover {
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.button-marketing {
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-marketing:hover {
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.tytul1 {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul2 {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul3 {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul4 {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul5 {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul6 {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul7 {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul8 {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.tytul9 {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;

  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.podtytul1 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul2 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul3 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul4 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul5 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul6 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul7 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul8 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.podtytul9 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.technocrack {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}

.grafika {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
}

.restauracja {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 262px;
}

.projekt-prime {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 696px;
}

.projekt-boxes {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 696px;
}

.inspiration {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 696px;
}

.magazyn {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1130px;
}

.projekt-lab {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1130px;
}

.growing {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}

.webstudio2 {
  position: flex;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: var(--secondary-font);
  font-weight: 700px;
  font-size: 26px;
  text-decoration: none;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.adres {
  width: 247px;
  height: 21px;
  left: 215px;
  top: 111px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.email2 {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 141px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: none;

  color: rgba(255, 255, 255, 0.6);
}

.email2:hover{
  color: #2196F3;
}

.tel2 {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 171px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.tel2:hover{
  color: #2196F3;
}
